@media (min-width: 1651px) {
  .Principal {
    display: none !important;
  }

  body {
    #border: 5px solid black;
    background-image: url('/img/Mantenimiento.png');
    background-repeat: no-repeat !important;
    background-attachement: fixed;
    background-position: 50% -10%;
  }
}
