@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.Principal {
    overflow: hidden;

    background-color: #f9f9f8 !important;
}

@media (max-width: 1100px) {

    .Principal {
        display: none;
    }

    .mantenimiento {
        position: relative;
        margin: auto;
    }



}


/*--------------Navbar-------------------------*/
nav {
    background-color: #fafaf9 !important;
}

@media (min-width: 1200px) {

    .mantenimiento {
        display: none;
    }

    nav li {
        position: relative;
        right: 50px;
        margin-left: 40px;
        #border: 6px solid red;
        #padding-left: 100px;
        cursor: pointer;
    }

    nav li a {
        color: #3f87b3 !important;
        font-family: Poppins;
    }

    .punto_home {
        #border: 5px solid red;
    }

    .navbar-brand img {
        position: absolute;
        width: 42px;
        height: 47px;
        left: 35px;
        top: 12px;
    }

    .navbar-brand span {
        margin-left: 20px;
        position: relative;
        top: 3px;
        #border: 5px solid red;
    }

    nav button {
        background-color: #3f87b3 !important;
        border-radius: 5px;
        outline: none;
    }

    .navbar-brand span {
        margin-left: 70px;
        color: #3f87b3 !important;
        font-family: Poppins;
    }

    nav .Contact {
        #border: 5px solid red;
        background-color: rgb(51, 128, 175);
        border-radius: 6px;
    }

    nav .Contact button {
        width: 131.77px;
        height: 41.34px;
        outline: none;
        border: none;
    }

    nav .Contact a {
        font-family: Inter, sans-serif !important;
    }

    /*---------------------------------------*/
    /*----------------Portada------------------------*/


    .Presentacion .txt_portada {
        position: absolute;
        # border: 4px solid red;
        margin-left: 5%;
        margin-top: 5%;
        width: 33% !important;
        height: 340px;
    }

    .Presentacion .txt_1 {
        font-family: Poppins;
        font-size: 2vw;
        color: #F79C41 !important;
    }

    .Presentacion .txt_2 {
        position: relative;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        color: #222222;
        z-index: 1000;
    }

    .Presentacion .txt_3 {
        position: absolute;
        font-family: Poppins;
        font-style: normal;
        font-size: 16px;
        line-height: 200%;
        color: #333333;
    }


    .Presentacion .caricatura {
        position: absolute;
        width: 45%;
        height: 540px;
        left: 48%;
        top: 23%;
        #border: 5px solid blue;
    }


    /*----------------Portada------------------------*/



    /*----------------Portafolio------------------------*/

    .secundario {
        background-color: #f9f9f8 !important;
        #border: 1px solid blue;
    }

    .secundario .Portafolio {
        background-color: #f9f9f8 !important;
        # border: 5px solid red;
        width: 100%;
        height: 490px;
    }

    .Portafolio section {
        # border: 5px solid purple;
        width: 50%;
    }


    .Portafolio section h1 {
        position: relative;
        margin-top: 55px;
        left: 100px;
        font-family: Poppins;
        font-size: 72px;
    }

    .Portafolio section p {
        position: relative;
        top: 10px !important;
        left: 25%;
        width: 32%;
        font-size: 22px;
    }

    .Portafolio img {
        width: 100%;
        height: 470px;
    }

    /*----------------Portafolio------------------------*/


    /*----------------Publicidad------------------------*/


    .Publicidad_Img {
        #border: 5px solid red;
    }

    .Publicidad_Img h1 {
        font-family: Poppins;
        font-size: 72px;
        line-height: 187.5%;
    }

    .Publicidad_Img p {
        font-family: Poppins;
        #font-style: normal;
        #font-weight: 600;
        font-size: 20px;
        line-height: 187.5%;
    }

    .Galeria {
        #border: 5px solid red;
    }

    .Galeria section {
        width: 100%;
        margin-top: 1%;
        #border: 5px solid blue;
        justify-content: center;
    }

    .Galeria section img {
        width: 23%;
        height: 200px;
        margin-left: 5%;
        border-radius: 26px;
    }




    /*----------------Publicidad------------------------*/


    /*----------------Formulario------------------------*/

    .Formulario {
        #border: 5px solid red;
        height: 600px;
    }

    .Formulario form {
        position: absolute;
        padding: 40px;
        margin-left: 9%;
        background: #C3212C;
        width: 450px;
        height: 550px;
        border-radius: 17px;

    }

    .Formulario img {
        width: 88%;
        border-radius: 16px;
        height: 100%;
    }

    .Formulario form p {
        position: relative;
        border: 1px solid #F79C41;
        width: 395px;
        height: 0px;
    }

    .Formulario form h1 {
        position: relative;
        color: #F8F8F8;
        font-family: Poppins;
        font-style: normal;
        font-size: 36px;

    }

    .Formulario form h3 {
        position: relative;
        font-family: Poppins;
        font-size: 14px;
        color: #F8F8F8;

    }

    .Formulario button {
        color: white;
        width: 131.77px;
        height: 41.34px;
        background: #3f87b3 !important;
        border-radius: 6px;
        border: none;
        outline: none;
    }

    /*----------------Formulario------------------------*/


    /*----------------Colaboracion------------------------*/

    .Collaborations {
        margin: auto;
        #border: 4px solid red;
        width: 85%;
    }

    .Collaborations section {
       # border: 5px solid blue;
        width: 50%;
        height: 450px !important;
    }

    .Collaborations img {
        width: 100%;
        height: 100%;
    }

    .img_colab {
        width: 40% !important;
    }

    .envio_datos {
        padding: 35px;
        background-color: #F79C41;
        width: 100% !important;
    }

    .btn_send {
        width: 131.77px;
        height: 41.34px;
        background: #3380AF;
        border-radius: 6px;
        outline: none;
        border: none;
        color: #F8F8F8;
    }

    .Collaborations h1 {
        font-family: Poppins;
        font-style: normal;
        font-size: 44px;
        color: #333333;
    }

    .Collaborations .txt_datos {
        font-family: Inter, sans-serif;
        font-size: 22px;
        line-height: 187.5%;
        color: #525252 !important;
        font-style: normal;
        font-weight: normal;
    }




    /*----------------Colaboracion------------------------*/







    /*
  .Portafolio {
    position: relative;
    # border: 5px solid red;
    background: #fafaf9;
    top: -175px;
  }

  .Portafolio section {
    #border: 5px solid black;
    width: 50%;
  }

  .Portafolio section h1 {
    position: relative;
    #border: 5px solid red;
    left: 100px;
    width: 80%;
    height: 108px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 108px;
  }

  .Portafolio section p {
    position: relative;
    left: 20%;
    #border: 5px solid red;
    width: 28%;
  }

  .Portafolio section img {
    # border: 5px solid red;
    width: 100%;
    height: 488px;
  }

  .Publicidad_Img {
    #border: 5px solid red;
  }

  .Publicidad_Img section {
    #border: 5px solid black;
    width: 100%;
    text-align: center;
  }

  .Publicidad_Img img {
    width: 400px;
    height: 273px;
  }

  .Formulario img {
    border-radius: 17px;
    width: 1280px;
    height: 650px;
    ;
  }

  .Formulario form {
    position: absolute;
    left: 140px;
    background: #C3212C;
    width: 500px;
    height: 570px;
    border-radius: 17px;
  }

  .Formulario form h1 {
    position: relative;
    left: 10%;
    color: #F8F8F8;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
  }

  .Formulario form p {
    position: relative;
    left: 10%;
    border: 1px solid #F79C41;
    width: 389px;
    height: 0px;
  }

  .Formulario form h3 {
    position: relative;
    left: 10%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height
    color: #F8F8F8;
  }

  .Formulario input, .Formulario textarea {
    width: 390px;
    height: 36px;
    margin: auto;
  }

  .Formulario textarea {
    height: 147px;
  }

  .Formulario .form_submit {
    width: 80%;
    margin: auto;
  }

  .Formulario button {
    color: white;
    width: 131.77px;
    height: 41.34px;
    background: #3380AF;
    border-radius: 6px;
  }

  .Collaborations {
    margin: auto;
    border: 5px solid black;
    width: 1216px;
    height: 457px;
  }

  .Collaborations section {}

  .Collaborations img {
    #border: 5px solid red;
    width: 379px;
    height: 447px;
  }

  .Collaborations .envio_datos {
    background-color: #F79C41;
    width: 80%;
  }

  .Collaborations .envio_datos h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 66px;
    /* identical to box height
    color: #333333;
  }

  .Collaborations .envio_datos h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 187.5%;
    /* or 45px
    color: #525252;
  }

  .txt_info {
    width: 763px;
    height: 147px;
    margin: auto;
  }

  .btn_send {
    width: 131.77px;
    height: 41.34px;
    background: #3380AF;
    border-radius: 6px;
  }

  .btn_enviar {
    margin: auto;
    # border: 5px solid black;
    text-align: center;
    width: 763px;
  }

  .subscribe {
    margin: auto;
    width: 1224px;
    height: 200px;
    left: 183px;
    top: 109px;
    /* Astral
    background: #3380AF;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
  }

  .subscribe section {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
    width: 50%;
    #border: 5px solid black;
  }

  .txt_input {
    width: 510px;
    height: 72px;
    #border: 6px solid red;
    z-index: 1;
    border-radius: 4px;
  }

  .btn_subcribe {
    #border: 5px solid red;
    position: absolute;
    left: 70%;
    width: 200px;
    height: 50px;
    background: #3380AF;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    border-radius: 4px;
  }

  .footer {
    margin: auto;
    width: 80%;
    border-bottom: 1px solid black;
  }

  .footer ul li {
    display: inline;
    list-style: none;
    margin-left: 15px;
    color: #3f87b3 !important;
    font-family: Poppins;
  }

  .footer section {
    #border: 5px solid black;
    width: 50%;
  }

  .footer section i {
    margin-left: 25px;
    font-size: 20px !important;
  }

  .end_page {
    font-size: 14px;
    margin: auto;
    width: 80%;
    #border: 5px solid red;
  }

  .end_page img {
    width: 76px;
    height: 76px;
  }

  .end_page p {}


}


nav li {
  position: relative;
  right: 50px;
  margin-left: 40px;
  #border: 6px solid red;
  #padding-left: 100px;
  cursor: pointer;
}

nav li a {
  color: #3f87b3 !important;
  font-family: Poppins;
}

.punto_home {
  #border: 5px solid red;
}

.navbar-brand img {
  position: absolute;
  width: 42px;
  height: 47px;
  left: 35px;
  top: 12px;
}

.navbar-brand span {
  margin-left: 20px;
  position: relative;
  top: 3px;
  #border: 5px solid red;
}

nav button {
  background-color: #3f87b3 !important;
  border-radius: 5px;
  outline: none;
}

.navbar-brand span {
  margin-left: 70px;
  color: #3f87b3 !important;
  font-family: Poppins;
}

nav .Contact {
  #border: 5px solid red;
  background-color: rgb(51, 128, 175);
  border-radius: 6px;
}

nav .Contact button {
  width: 131.77px;
  height: 41.34px;
  outline: none;
  border: none;
}

nav .Contact a {
  font-family: Inter, sans-serif !important;
}

/*---------------------------------------*/
    /*----------------Portada------------------------*/
    .Portada {
        position: absolute;
        #border: 10px solid red;
        background-color: #fafaf9 !important;
        width: 100%;
        height: 600px;
    }

    .Portada section {
        #border: 5px solid purple;
        width: 50% !important;
    }

    .Portada img {
        position: absolute;
        top: 7%;
        #border: 5px solid red;
        width: 45%;
        left: 45%;
        z-index: 100;
    }

    .Portada .txt_portada section {
        margin-left: 4.5%;
        margin-top: 15%;
        #border: 5px solid blue;
        width: 80% !important;
    }

    .Portada .txt_1 {
        font-family: Poppins;
        font-size: 2vw;
        color: #F79C41;
    }

    .txt_portada .txt_2 {
        position: relative;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        color: #222222;
        z-index: 1000;
    }

    .txt_portada .txt_3 {
        position: absolute;
        font-family: Poppins;
        font-style: normal;
        font-size: 16px;
        line-height: 200%;
        color: #333333;
    }

    .txt_portada button {
        position: absolute;
        font-size: 17px;
        width: 195px;
        height: 53px;
        color: white;
        background: #3380AF;
        border-radius: 6px;
        border: 0;
        outline: none;
        z-index: 1000;
    }

    .Portada .svg_1 {
        #border: 5px solid red;
        left: 10%;
        position: relative;
        width: 100%;
        height: 265px;
        right: 15%;
        top: -5.8%;
        #z-index: 1;
    }

    .Portada .svg_2 {
        position: relative;
        width: 200%;
        height: 546.5px;
        right: 98%;
        top: -150px;
        z-index: 1;
        transform: scale(1.11, 0.9);
        #background: rgba(247, 156, 65, 0.2);
    }

    /*
.Portada .img_portada {
  width: 50%;
}

/*----------------Portada------------------------*/
    /*
.Portada .img_portada{
  border:6px solid black;
  width: 100%;
}
/*
.Portada .img_portada img {
  position: relative;
  width: 50%;
  height: 590px;
  left: 700px;
  top: -167px;
  z-index: 100;
}

/*
.Portada {
  background-color: #fafaf9;
}

.Portada img {
  position: absolute;
  width: 675px;
  height: 590px;
  left: 700px;
  top: 157px;
  z-index: 100;
}

.Portada .svg_1 {
  position: relative;
  width: 1048px;
  height: 265px;
  left: 475px;
  top: 10px;
  z-index: 1;
}

.Portada .svg_2 {
  position: relative;
  width: 1500px;
  height: 546.5px;
  left: 2px;
  top: -150px;
  z-index: 1;
  transform: scale(1.11, 0.9);
  #background: rgba(247, 156, 65, 0.2);
}

.txt_portada {
  position: absolute;
  z-index: 110;
  top: 180px;
  left: 100px;
  width: 590px;
  #border: 5px solid red;
  color: black !important;
}

.txt_portada .txt_1 {
  width: 195px;
  height: 31px;
  left: 135px;
  top: 230px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 155.2%;
  color: #F79C41;
}

.txt_portada .txt_2 {
  width: 479.63px;
  height: 78px;
  left: 135px;
  top: 278px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 155.2%;
   identical to box height, or 78px
  color: #222222;
}

.txt_portada .txt_3 {
  width: 527px;
  height: 101px;
  left: 135px;
  top: 367px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  /* or 32px
  color: #333333;
}

.txt_portada button {
  width: 195px;
  height: 53px;
  left: 135px;
  top: 530px;
  color: white;
  /* Astral
  background: #3380AF;
  border-radius: 6px;
}

.Portafolio {
  position: relative;
  # border: 5px solid red;
  background: #fafaf9;
  top: -175px;
}

.Portafolio section {
  #border: 5px solid black;
  width: 50%;
}

.Portafolio section h1 {
  position: relative;
  #border: 5px solid red;
  left: 100px;
  width: 80%;
  height: 108px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 108px;
}

.Portafolio section p {
  position: relative;
  left: 20%;
  #border: 5px solid red;
  width: 28%;
}

.Portafolio section img {
  # border: 5px solid red;
  width: 100%;
  height: 488px;
}

.Publicidad_Img {
  #border: 5px solid red;
}

.Publicidad_Img section {
  #border: 5px solid black;
  width: 100%;
  text-align: center;
}

.Publicidad_Img img {
  width: 400px;
  height: 273px;
}

.Formulario img {
  border-radius: 17px;
  width: 1280px;
  height: 650px;
  ;
}

.Formulario form {
  position: absolute;
  left: 140px;
  background: #C3212C;
  width: 500px;
  height: 570px;
  border-radius: 17px;
}

.Formulario form h1 {
  position: relative;
  left: 10%;
  color: #F8F8F8;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
}

.Formulario form p {
  position: relative;
  left: 10%;
  border: 1px solid #F79C41;
  width: 389px;
  height: 0px;
}

.Formulario form h3 {
  position: relative;
  left: 10%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height
  color: #F8F8F8;
}

.Formulario input, .Formulario textarea {
  width: 390px;
  height: 36px;
  margin: auto;
}

.Formulario textarea {
  height: 147px;
}

.Formulario .form_submit {
  width: 80%;
  margin: auto;
}

.Formulario button {
  color: white;
  width: 131.77px;
  height: 41.34px;
  background: #3380AF;
  border-radius: 6px;
}

.Collaborations {
  margin: auto;
  border: 5px solid black;
  width: 1216px;
  height: 457px;
}

.Collaborations section {}

.Collaborations img {
  #border: 5px solid red;
  width: 379px;
  height: 447px;
}

.Collaborations .envio_datos {
  background-color: #F79C41;
  width: 80%;
}

.Collaborations .envio_datos h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 66px;
  /* identical to box height
  color: #333333;
}

.Collaborations .envio_datos h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 187.5%;
  /* or 45px
  color: #525252;
}

.txt_info {
  width: 763px;
  height: 147px;
  margin: auto;
}

.btn_send {
  width: 131.77px;
  height: 41.34px;
  background: #3380AF;
  border-radius: 6px;
}

.btn_enviar {
  margin: auto;
  # border: 5px solid black;
  text-align: center;
  width: 763px;
}

.subscribe {
  margin: auto;
  width: 1224px;
  height: 200px;
  left: 183px;
  top: 109px;
  /* Astral
  background: #3380AF;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.subscribe section {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  width: 50%;
  #border: 5px solid black;
}

.txt_input {
  width: 510px;
  height: 72px;
  #border: 6px solid red;
  z-index: 1;
  border-radius: 4px;
}

.btn_subcribe {
  #border: 5px solid red;
  position: absolute;
  left: 70%;
  width: 200px;
  height: 50px;
  background: #3380AF;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  border-radius: 4px;
}

.footer {
  margin: auto;
  width: 80%;
  border-bottom: 1px solid black;
}

.footer ul li {
  display: inline;
  list-style: none;
  margin-left: 15px;
  color: #3f87b3 !important;
  font-family: Poppins;
}

.footer section {
  #border: 5px solid black;
  width: 50%;
}

.footer section i {
  margin-left: 25px;
  font-size: 20px !important;
}

.end_page {
  font-size: 14px;
  margin: auto;
  width: 80%;
  #border: 5px solid red;
}

.end_page img {
  width: 76px;
  height: 76px;
}

.end_page p {}