.Principal {
  overflow: hidden;
}

.navbar-brand img {
  position: absolute;
  width: 42px;
  height: 47px;
  left: 35px;
  top: 12px;
}

.Portada img {
  position: absolute;
  width: 675px;
  height: 590px;
  left: 700px;
  top: 157px;
  z-index: 100;
}

.Portada .svg_1 {
  position: relative;
  width: 1048px;
  height: 265px;
  left: 475px;
  top: 10px;
  z-index: 1;
}

.Portada .svg_2 {
  position: relative;
  width: 1500px;
  height: 546.5px;
  left: 2px;
  top: -150px;
  z-index: 1;
   transform: scale(1.11,0.9);
  #background: rgba(247, 156, 65, 0.2);
}
